:root {
    --main_bg_1: #fff;
    --main_bg_2: #fff;
    --text_1: #fff;
    --text_2: #fff;
    --other: #fff
}

@font-face {
    font-family: 'KellySlab';
    src: url(../fonts/KellySlab-Regular.ttf)
}

@font-face {
    font-family: 'Neucha';
    src: url(../fonts/Neucha-Regular.ttf)
}

@font-face {
    font-family: 'SourceSansPro';
    src: url(../fonts/SourceSansPro-Regular.ttf)
}

* {
    font-family: "SourceSansPro";
    transition: background-color 0.5s ease;
}

body {
    background-color: var(--main_bg_1);
    width: auto;
}

hr {
    border: .1vh solid var(--other) !important;
    margin: unset !important;
    padding: unset !important;
    width: inherit
}

a {
    color: var(--other);
}

#noscript {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 5vh;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: grey;
    width: 100%;
    height: 100%
}

#noscript * {
    margin: 1vh 0;
    font-family: "KellySlab"
}

#noscript a {
    font-size: 3.5vh
}

#noscript small {
    margin-top: 6vh;
    font-size: 2vh
}

.main_container {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    top: 3vh;
    margin: auto;
    width: 60vh;
    height: 83vh;
    overflow: hidden;
    box-shadow: 0 0 4.5vh -1vh #000;
    background-color: var(--main_bg_2)
}

.image {
    z-index: 0;
    position: absolute;
    background-image: url(../images/mainImage.jpg);
    width: 100%;
    height: 55vh;
    background-size: cover;
    background-repeat: no-repeat
}

.vertical_scrollbar {
    z-index: 1;
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 55vh
}

.vertical_scrollbar * {
    transition: background-color 0.5s linear;
    height: 2vh;
    background-color: var(--main_bg_2);
    width: 3vh;
    margin: 0 1vh
}

.more_info_container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 55vh;
    height: inherit;
    transition: all 0.75s ease;
    background-color: var(--main_bg_2)
}

.more_info_container::after {
    content: "⤋";
    display: flex;
    justify-content: center;
    opacity: 100%;
    font-size: 10vh;
    position: relative;
    top: 1vh;
    width: inherit;
    transition: all 0.5s cubic-bezier(.785, .135, .15, .86);
    animation: textBlink 2s linear infinite alternate
}

.more_info_container:hover {
    top: 0
}

.more_info_container:hover:after {
    opacity: 0;
    top: 0
}

.more_info_container * {
    opacity: 0;
    transition: opacity 0.75s ease
}

.more_info_container:hover * {
    opacity: 100%
}

.basic_info_name {
    font-family: "KellySlab";
    z-index: 4;
    opacity: 100%;
    font-size: 6vh;
    color: var(--other);
    align-items: center;
    text-align: center;
    transition: all 0.75s ease-out;
    text-shadow: #000 0 .25vh .5vh
}

.basic_info_short {
    font-family: "KellySlab";
    z-index: 4;
    opacity: 100%;
    position: relative;
    top: 1.0vh;
    font-size: 2.8vh;
    color: var(--text_1);
    align-items: center;
    text-align: center;
    transition: all 0.75s ease-out;
    text-shadow: #000 0 .1vh .1vh
}

.first_page {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    flex-direction: column;
    transition: all 0.75s ease
}

.first_page>.header {
    font-family: "Neucha";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vh;
    color: var(--text_2);
    margin-top: 14vh;
    font-size: 3vh
}

.first_page>.main {
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: 2.5vh;
    height: 55vh;
    width: 60vh;
    background-color: var(--main_bg_1);
    color: var(--text_1);
    box-shadow: 0 0 2.5vh -1.5vh #000 inset;
    overflow-y: auto;
    overflow-x: hidden
}

.first_page>.main>* {
    margin: 0 1vh;
    padding: 1.5vh 0
}

.first_page>.main>p::first-letter {
    margin-left: 1.5vh
}

.proficiencies {
    display: flex;
    flex-direction: column;
    font-size: 2vh
}

.proficiencies>span {
    position: relative;
    color: var(--text_2);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1vh 1vh;
    width: 10vh
}

.proficiencies>*>div {
    position: absolute;
    left: 11vh;
    height: 3vh;
    width: 0;
    background-color: var(--main_bg_2);
    box-shadow: 0 .5vh 1vh -.5vh #000
}

.footer {
    color: var(--text_1);
    position: absolute;
    bottom: 0;
    display: flex;
    height: inherit;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 12vh;
    width: inherit
}

#page_3,
#page_2 {
    z-index: 3;
    position: absolute;
    font-family: "KellySlab";
    transition: all 0.5s ease;
    transition-property: top, bottom, right, left, opacity;
    font-size: 3vh
}

#page_3:hover,
#page_2:hover {
    cursor: pointer;
    animation: textBlink 0.5s linear infinite alternate
}

.footer>#page_3 {
    left: 2vh
}

.footer>#page_2 {
    right: 2vh
}

.second_page {
    position: absolute;
    top: 0;
    height: inherit;
    right: -60vh;
    min-width: 60vh;
    z-index: 2;
    width: inherit;
    background-color: var(--other);
    transition: all 0.75s ease;
}

.horizontal_scrollbar_r {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    right: -2vh
}

.horizontal_scrollbar_r * {
    width: 2vh;
    height: 2vh;
    transition: background-color 0.5s linear;
    background-color: var(--main_bg_2);
    margin: .9vh 0
}

.horizontal_scrollbar_l {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    left: -2vh
}

.horizontal_scrollbar_l * {
    width: 2vh;
    height: 2vh;
    transition: background-color 0.5s linear;
    background-color: var(--main_bg_2);
    margin: .9vh 0
}

.second_page,
.third_page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1vh -.5vh #000 inset;
}

.second_page>.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main_bg_2);
    box-shadow: 0 0 2.5vh -1.5vh #000 inset;
    overflow-y: auto;
    width: inherit
}

.second_page>.main>a {
    font-family: "KellySlab";
    position: relative;
    display: flex;
    align-items: center;
    margin: 2vh 0;
    font-size: 3vh;
    color: var(--text_1);
    text-decoration: none;
    transition: all 0.5s ease;
    min-height: 6vh;
    padding-left: 7vh
}

.second_page>.main>a:hover {
    font-size: 4vh;
    animation: textBlink 0.5s linear infinite alternate
}

#github::before {
    background: url(../images/github.svg)
}

#stackoverflow::before {
    background: url(../images/stackoverflow.svg)
}

#quera::before {
    background: url(../images/quera.svg)
}

#email::before {
    background: url(../images/email.svg)
}

#linkedin::before {
    background: url(../images/linkedin.svg)
}

#github::before,
#linkedin::before,
#stackoverflow::before,
#quera::before,
#email::before {
    position: absolute;
    margin: auto 0;
    left: 0.5vw;
    content: " ";
    background-size: 5vh 5vh;
    display: block;
    width: 5vh;
    height: 5vh;
    transition: all 0.5s ease
}

#github:hover::before,
#linkedin:hover::before,
#stackoverflow:hover::before,
#quera:hover::before,
#email:hover::before {
    width: 6vh;
    height: 6vh;
    left: 0;
    background-size: 6vh 6vh
}

.third_page {
    position: absolute;
    top: 0;
    height: inherit;
    left: -60vh;
    min-width: 60vh;
    z-index: 2;
    width: inherit;
    background-color: var(--other);
    transition: all 0.75s ease;
}


.third_page>.main {
    background-color: var(--main_bg_1);
    box-shadow: 0 0 2.5vh -1.1vh #000 inset;
    overflow-y: auto;
    width: inherit;
    position: relative;
    top: 3vh;
    height: 70%;
}

.third_page>.main>section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.third_page>.main>section>img {
    width: auto;
    height: 10vh;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
}

.third_page>.main>section>p {
    background-color: var(--main_bg_2);
    box-shadow: 0 0 2.5vh -1vh #000;
    border-radius: 0.5vh 0 0 0.5vh;
    padding: 0.5vh;
    color: var(--text_1);
    width: 100%;
    font-size: 2vh;
}

.third_page>.main>section>p::first-letter {
    margin-left: 0.5vw;
}

#themes {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    bottom: 1vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 0;
    margin: 5vh auto
}

.day,
.night {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3vh;
    width: 5vh;
    height: 5vh;
    border-radius: 10vh;
    margin: 0 2vh;
    cursor: pointer;
    transition: all 0.5s ease
}

.day *,
.night * {
    font-family: "Neucha"
}

.day {
    background-color: rgb(238, 211, 175);
    border: .5vh solid rgb(255, 255, 255);
    color: rgb(0, 0, 0)
}

.night {
    background-color: rgb(15, 15, 150);
    border: .5vh solid rgb(0, 0, 0);
    color: rgb(255, 255, 255)
}

.day:hover,
.night:hover {
    width: 6vh;
    height: 6vh;
    border-width: 1vh;
    font-size: 3.5vh
}

#themes input {
    display: none
}

@media only screen and (max-height:500px) {
    .day {
        margin-right: 60vh;
    }
    #themes {
        top: 0;
    }

}

@media only screen and (max-width:600px) {
    .main_container {
        width: 50vh
    }
    .more_info_container::after {
        content: "⦿";
        font-size: 8vh;
    }

    .first_page>.header {
        width: 50vh
    }

    .first_page>.main {
        width: 50vh
    }

    .second_page,
    .third_page {
        right: -50vh;
        min-width: 50vh
    }

    .day,
    .night {
        height: 3vh;
        top: 2vh
    }

    .day:hover,
    .night:hover {
        width: 6vh;
        height: 4vh;
        border-width: 1vh;
        font-size: 4vh
    }
}

@keyframes textBlink {
    100% {
        color: var(--text_2)
    }
}